.footer-page{
    background-image: url('beach-footer-img.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.footer{
  position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-title{
  color: whitesmoke;
  padding: 2%;
  text-align: left;
}
